.header{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    border-bottom: 2px solid;
    margin: 0.5rem;
}

.categorias{
    padding-right: 20%;
}

.links{
    text-align: center;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.links li{
    margin-right: 50px;
}

.links a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(61, 59, 59);
    font-size: 17px;
}

.links :hover{
    color: #63420e;
}