.gif {
    border-bottom: 2px solid;
    margin: auto;
    margin-right: 25px;
    margin-left: 10px;
}

.gif img {
    margin-left: 48%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.flex {
    display: flex;
    margin-right: 44px;
}

.icon {
    margin-left: 2rem;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: #000;
}

.link :hover {
   color: #63420e;
}
.h3{
    font-family: fantasy;
    font-size: 22px;
   
}

#txt {
    font-size: 24px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.content {
    margin-top: 1.5vh;
    position: relative;
    bottom: 0;
    width: 100%;
}