.main{
    background-color:  #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    width: 75vw;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 1rem;
}
.textRandom {
    text-align: center;
    font-size: 25px;
}

.img {
    margin: 1.5rem;
}

.leafBg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.leaf {
    position: absolute;
    top: 0;
    right: 0;
    width: 15vw;
    margin: 2rem;
    animation: leafAnimation 3s ease-in infinite;
}

.load {
    width: 10vw;
}

@keyframes leafAnimation {
    0% {right: 0%;}
    25% {right: 25%;}
    50% {right: 50%;}
    75% {right: 75%;}
    100% {right: 100%;}
}